<div class="container">
  <h1 class="">Weather World</h1>

  <div class="search mx-auto my-4">
    <form #form="ngForm" (submit)="onSubmit()">
      <input
        class="form-control inputBar"
        type="text"
        placeholder="Search City"
        [(ngModel)]="cityName"
        name="city"
      />
    </form>
  </div>

  <div
    *ngIf="weatherData"
    class="card mx-auto"
    style="width: 40rem; border: none"
  >
    <div class="card-top">
      <img
        src="../assets/hot.jpg"
        class="card-img-top weatherImage"
        *ngIf="weatherData.main.temp > 15"
      />
      <img
        src="../assets/hot.jpg"
        class="card-img-top weatherImage"
        *ngIf="weatherData.main.temp <= 15"
      />

      <div
        class="weatherData card-img-overlay d-flex justify-content-center align-items-start h1"
      >
        <div>
          <div class="location">{{ weatherData.name }}</div>
          <div class="temperature">
            {{ weatherData.main.temp | number : "1.0-0" }} °F
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title h2">More Details</h5>

      <div class="row">
        <div class="row mt-5">
          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/low-temperature.png" alt="" />
              <div class="h4">min</div>
            </div>
            <div class="info-block-value col">
              {{ weatherData.main.temp_min }}°F
            </div>
          </div>

          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/high-temperature.png" alt="" />
              <div class="h4">max</div>
            </div>
            <div class="info-block-value col">
              {{ weatherData.main.temp_min }}°F
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/humidity.png" alt="" />
              <div class="h4">Humidity</div>
            </div>
            <div class="info-block-value col">
              {{ weatherData.main.humidity }}%
            </div>
          </div>

          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/wind-power.png" alt="" />
              <div class="h4">Wind</div>
            </div>
            <div class="info-block-value col">
              {{ weatherData.wind.speed }} km/h
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h1 class="">Weather World</h1>

  <div class="card mx-auto" style="width: 40rem; border: none">
    <div class="card-top">
      <img
        src="../assets/hot.jpg"
        class="card-img-top weatherImage"
        *ngIf="14 > 15"
      />
      <img
        src="../assets/hot.jpg"
        class="card-img-top weatherImage"
        *ngIf="14 <= 15"
      />

      <div
        class="weatherData card-img-overlay d-flex justify-content-center align-items-start h1"
      >
        <div>
          <div class="location">Jabalpur</div>
          <div class="temperature">{{ 14.5 | number : "1.0-0" }} °C</div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title h2">More Details</h5>

      <div class="row">
        <div class="row mt-5">
          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/low-temperature.png" alt="" />
              <div class="h4">min</div>
            </div>
            <div class="info-block-value col">10°C</div>
          </div>

          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/high-temperature.png" alt="" />
              <div class="h4">max</div>
            </div>
            <div class="info-block-value col">20°C</div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/humidity.png" alt="" />
              <div class="h4">Humidity</div>
            </div>
            <div class="info-block-value col">77%</div>
          </div>

          <div class="info-block col">
            <div class="info-block-label col">
              <img class="minImg" src="../assets/wind-power.png" alt="" />
              <div class="h4">Wind</div>
            </div>
            <div class="info-block-value col">11 km/h</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
