/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (medium) {
    font-size: 56.25%;
  }
}

html,
body {
  height: 100%;
}
body {
  background: #1f1d1d !important;
  color: #fff !important;
  font-family: "Poppins", sans-serssif !important;
}
